--extra-index-url https://download.pytorch.org/whl/cu118

rasterio
geopandas
shapely
numpy
pandas
xarray
scipy
scikit-learn
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
tqdm
python-dotenv
requests
sentinelhub         # client for Copernicus / Sentinel Hub APIs
matplotlib
jupyterlab
ipykernel
seaborn
